<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h4>Login Using github</h4>
      <a href="/auth/github"><button>github login</button></a>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
