.title .logo {
  color: snow;

}

.navbar-brand .title {
  margin-bottom: 0;
}

.sign-header {
  text-align: center;
  margin-bottom: 15px;
}

.sign-header .green-text {
  color: cornflowerblue;
}

.create-btn {
  text-align: center;
}

.search-box {
  margin-top: 50px;
}

.gift-cards {
  max-width: 30%;
}

.card-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}